<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>pivotal.auth.tokenUrl</key>
	<string>http://data-auth.sherry.wine.cf-app.com/token</string>
	<key>pivotal.auth.authorizeUrl</key>
	<string>http://data-auth.sherry.wine.cf-app.com/authorize</string>
	<key>pivotal.auth.redirectUrl</key>
	<string>io.pivotal.ios.data://oauth2callback</string>
	<key>pivotal.auth.clientId</key>
	<string>ios-client</string>
	<key>pivotal.auth.clientSecret</key>
	<string>006d0cea91f01a82cdc57afafbbc0d26c8328964029d5b5eae920e2fdc703169</string>
	<key>pivotal.data.serviceUrl</key>
	<string>http://data-backend-auth.sherry.wine.cf-app.com/data/sample</string>
	<key>pivotal.data.collisionStrategy</key>
	<string>OptimisticLocking</string>
</dict>
</plist>
